# 手軽にMainsailの操作パネルからワンボタンでADXL345による共振測定を行います。
# 別途ADXL345の設置が必要になります。
[gcode_macro RESONANCES_X]
gcode:
     G28
     TEST_RESONANCES AXIS=X

[gcode_macro RESONANCES_Y]
gcode:
     G28
     TEST_RESONANCES AXIS=Y

# プレッシャーアドバンスを測定するマクロです。
# ノズル径や温度、スピード等の値をMainsailのマクロ操作パネルから変更できます。
# ベッドサイズやリトラクトの長さやスピード等はご自身のプリンターに合わせて変更してください。
[gcode_macro PA_CALIBRATE]
gcode:

    {% set nozzle_diameter = params.NOZZLE_DIAMETER|default(0.4)|float %}
    {% set bed_size_x = 180|float %}
    {% set bed_size_y = 180|float %}
    {% set retract = 0.9 | float %}
    {% set retract_speed = 60 * 60|float %}
    {% set filament_diameter = 1.75|float %}
    {% set layer_height = params.LAYER_HEIGHT|default(0.2)|float %}
    {% set nozzle_line_ratio = params.NOZZLE_LINE_RATIO|default(1.13)|float %}
    {% set extrusion_multiplier = 1.0|float %}
    {% set bed_temp = params.BED_TEMP|default(60) %}
    {% set extruder_temp = params.EXTRUDER_TEMP|default(210) %}
    {% set int_exit = params.ERCF_TOOL|default(0)|float %}
    {% set slow_speed = params.SLOW_SPEED|default(25)|float %}
    {% set slow_length = 20 | float %}
    {% set fast_speed = params.FAST_SPEED|default(80)| float %}
    {% set fast_length = 40| float %}
    {% set travel_speed = 105 | float %}
    {% set pa_start = params.PA_START|default(0.005) | float %}
    {% set pa_end = params.PA_END|default(0.1) | float %}
    {% set pa_step = params.PA_STEP|default(0.005) | float %}
    {% set accel = params.MAX_ACCEL|default(3000) | float %}
    {% set deaccel = params.MAX_ACCEL_TO_DECEL|default(3000) | float %}
    {% set line_spacing = 5  | float %}
    ######################################################################################
    ####                           !!! DO NOT EDIT BELOW !!!                           ###
    ######################################################################################
    {% set spacing = line_spacing                                                       %}
    {% set fd      = filament_diameter                                                  %}
    {% set nd      = nozzle_diameter                                                    %}
    {% set ew      = nozzle_diameter * nozzle_line_ratio                                %}
    {% set em      = extrusion_multiplier                                               %}
    {% set lh      = layer_height                                                       %}
    {% set pa      = pa_start                                                           %}
    ##################################[ calculations ]####################################
    {% set slow_speed           = slow_speed * 60                               | float %}
    {% set fast_speed           = fast_speed * 60                               | float %}
    {% set travel_speed         = travel_speed * 60                             | float %}
    {% set lines    = (((pa_end - pa_start) / pa_step) + 1) | round(0, 'ceil')  | int   %}
    {% set p_width  = ((2 * slow_length + fast_length))                                 %}
    {% set p_height = (lines * (spacing + (nd * ew)))                                   %}
    {% set p_width_total  = p_width + 20                                                %}
    {% set p_height_total = p_height + 40                                               %}
    {% set start_x_pos    = (bed_size_x - p_width) / 2                                  %}
    {% set end_x_pos      = (bed_size_x + p_width) / 2                                  %}
    {% set start_y_pos    = (bed_size_y - p_height) / 2                                 %}
    {% set end_y_pos      = (bed_size_y + p_height) / 2                                 %}
    {% set x_pos          = start_x_pos                                                 %}
    {% set y_pos          = start_y_pos                                                 %}
    ########################[ check if test patter fits on bed ]##########################
    {% if p_height_total > bed_size_y or p_width_total > bed_size_x %}
      {% set exceeds_bed_area = true  %}
    {% else %}
      {% set exceeds_bed_area = false %}
    {% endif %}
    ######################################################################################
    ### Using Slic3r flow math to calculate extrusion amounts:                         ###
    ######################################################################################
    ### V_in  = (pi * fd ** 2) / 4 * E                                                 ###
    ### V_out = A * L * em                                                             ###
    ### V_in  = V_out                                                                  ###
    ### A     = (ew - lh) * lh + pi * (lh / 2) ** 2                                    ###
    ### E     = ((A * L * 4) / (pi * fd ** 2)) * em                                    ###
    ######################################################################################
    {% set pi      = 3.141592654                                     | float            %}
    {% set A       = (ew - lh) * lh + pi * (lh / 2) ** 2             | float            %}
    {% set E_prime = (((A * p_height * 4) / (pi * fd ** 2)) * 1.6)   | round(6, 'ceil') %}
    {% set E_frame = (((A * ( p_height+ 2 ) * 4) / (pi * fd ** 2)) * 1.6)   | round(6, 'ceil') %}
    {% set E_slow  = (((A * slow_length * 4) / (pi * fd ** 2)) * em) | round(6, 'ceil') %}
    {% set E_fast  = (((A * fast_length * 4) / (pi * fd ** 2)) * em) | round(6, 'ceil') %}
    {% set E_mark  = (((A * 20 * 4) / (pi * fd ** 2)) * em)          | round(6, 'ceil') %}
    ######################################################################################
    ### START CALIBRATION ###
    LED_ON
    M141 S{70}
    G90                             ; 絶対座標指定
    M83                             ; 押出機相対値もーど
    M140 S{60}                      ; ベッド温度セット
    M109 S{150}                     ; ホットエンド1段目
    #M190 S{70}                ; ベッド1stレイヤ温度到達待機
    #BED_MESH_CLEAR
    G28                             ; All home
    CLEAN_NOZZLE                    ; Nozzle Brushingマクロ呼び出し
    QUAD_GANTRY_LEVEL
    G28 Z                           ; Rehome Z
    #BED_MESH_CALIBRATE 
    G1 Z20 F3000                    ; ノズル逃げ 
    G1 X290.0 Y300 Z10 F15000        ; パージ皿へ移動
    G92 E0.0                        ; zero the extruder
    M140 S{bed_temp}
    M109 S{extruder_temp}           ; ホットエンド1stレイヤ温度セット・昇温待機
    ERCF_CHANGE_TOOL_STANDALONE TOOL={int_exit}
    M190 S{bed_temp}

    SET_VELOCITY_LIMIT ACCEL={accel} ACCEL_TO_DECEL={deaccel}
    ### PRIME NOZZLE ###
    M83 ; set relative extrusion mode
    G1 X{ x_pos - 10 } Y{ y_pos } F{ travel_speed } ; move to prime line start
    G1 Z{ layer_height } ; move Z down
    G1 Y{ y_pos + p_height } E{ E_prime } F { slow_speed } ; print first prime line
    G1 X{ x_pos - 5 } F{ travel_speed } ; move to second prime line start
    G1 Y{ y_pos } E{ E_prime } F { slow_speed } ; print second prime line
    G1 Z{ layer_height + 0.3 } ; move Z up
    ### FRAME ###
    G1 X{ x_pos } Y{ y_pos - 1 } F{ travel_speed }
    G1 Z{ layer_height } ; move Z down
    G1 Y{ y_pos + p_height + 1 } E{ E_frame } F { slow_speed } ; print first prime line
    G1 X{ end_x_pos } Y{ y_pos - 1 } F{ travel_speed }
    G1 Z{ layer_height } ; move Z down
    G1 Y{ y_pos + p_height + 1 } E{ E_frame } F { slow_speed } ; print first prime line
    G1 E-{ retract } F{ retract_speed } ; retract
    G1 Z{ layer_height + 0.3 } ; move Z up
    G92 E0
    ### START TEST PATTERN ###
    SET_PRESSURE_ADVANCE EXTRUDER=extruder ADVANCE={ pa }
    {% for i in range(lines) %}
        {% if not loop.first %}
            {% set y_pos = y_pos + (i * (spacing + ew)) %}
            {% set pa = pa + (i * pa_step) %}
            SET_PRESSURE_ADVANCE EXTRUDER=extruder ADVANCE={ pa }
        {% endif %}
        M117 PA={ pa }
        ### move to line starting postion
        G1 X{ x_pos } Y{ y_pos } F{ travel_speed }
        G1 E{ retract } F{ retract_speed } ; un-retract
        G1 Z{ layer_height } ; move Z down
        ### print first slow part
        {% set x_pos = x_pos + slow_length %}
        G1 X{ x_pos } Y{ y_pos } E{ E_slow } F{ slow_speed }
        ### print fast part
        {% set x_pos = x_pos + fast_length %}
        G1 X{ x_pos } Y{ y_pos } E{ E_fast } F{ fast_speed }
        ### print second slow part
        {% set x_pos = x_pos + slow_length %}
        G1 X{ x_pos } Y{ y_pos } E{ E_slow } F{ slow_speed }
        G1 E-{ retract } F{ retract_speed } ; retract
        G1 Z{ layer_height + 0.3 } ; move Z up
        ### reset x position
        {% set x_pos = start_x_pos %}
    {% endfor %}

    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    {% set unload = params.UNLOAD_AT_END|default(0)|int %}
    #SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0

    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F1800                 ; retract filament  
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear

  
    ERCF_EJECT

    TURN_OFF_HEATERS

    M141 S{60}
    M107                                     ; turn off fan
    CLEAN_NOZZLE                             ; Nozzle Brushingマクロ呼び出し
    #UPDATE_DELAYED_GCODE ID=filter_off DURATION=180
    #BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

    #PRINT_END

# 気軽にPID CALIBRATEができるマクロです。
# 設定したい温度にMainsailのマクロ操作パネルから変更できます
[gcode_macro PID_TUNE]
gcode:
   {% set TARGET_TEMP = params.TARGET_TEMP|default(210)|float %}
 PID_CALIBRATE HEATER=extruder TARGET={TARGET_TEMP}
 SAVE_CONFIG