# # # Klipperアダプティブパージ - VoronDesignロゴ # # #

#このマクロは、gcode内のオブジェクトから情報を解析して最小領域と最大領域を定義し、Voronの才能で近くのパージを作成します!
# パージを成功させるには、以下を設定する必要があるかもしれません。
#
# [押出機]
# ...
# max_extrude_cross_section: 5

[gcode_macro VORON_PURGE]
#説明：実際の印刷物の近くに適応するパージマクロ

variable_adaptive_enable: True # パージを印刷ごとに同じ場所にしたい場合は、Falseに変更します
variable_z_height: 0.4 # パージするベッドの上の高さ
variable_tip_distance: 5 # パージ前のフィラメントチップとノズルの間の距離(これにはいくつかのチューニングが必要です)
variable_purge_amount: 40 # パージするフィラメントの量
variable_flow_rate: 5 # mm3/sの希望流量
variable_x_default: 10 # X 場所、アダプティブが True の場合は上書き
variable_y_default: 10 # Y 場所、アダプティブが True の場合は上書き
variable_size: 30 # ロゴのサイズ
variable_distance_to_object_x: 10 # 印刷領域までのxの距離
variable_distance_to_object_y: 10 # 印刷領域までの y の距離

### このセクションは、KAMP用のMoonrakerの更新マネージャーを使用している人、またはより冗長なマクロをしたい人向けです。###

variable_display_parameters: True # コンソールにマクロパラメータを表示し、SETUP_VORON_PURGE呼び出しのデバッグに役立ちます。

gcode:

    {% if display_parameters == True %}
      { action_respond_info("adaptive_enable : %d" % (adaptive_enable)) }
      { action_respond_info("z_height : %f" % (z_height)) }
      { action_respond_info("tip_distance : %f" % (tip_distance)) }
      { action_respond_info("purge_amount : %f" % (purge_amount)) }
      { action_respond_info("flow_rate : %f" % (flow_rate)) }
      { action_respond_info("x_default : %f" % (x_default)) }
      { action_respond_info("y_default : %f" % (y_default)) }
      { action_respond_info("size : %f" % (size)) }
      { action_respond_info("distance_to_object_x : %f" % (distance_to_object_x)) }
      { action_respond_info("distance_to_object_y : %f" % (distance_to_object_y)) }
    {% endif %}

    {% if adaptive_enable == True %}
      {% set all_points = printer.exclude_object.objects | map(attribute='polygon') | sum(start=[]) %}
      {% set x_origin = (all_points | map(attribute=0) | min | default(x_default + distance_to_object_x + size)) - distance_to_object_x - size %}
      {% set y_origin = (all_points | map(attribute=1) | min | default(y_default + distance_to_object_y + size)) - distance_to_object_y - size %}
      {% set x_origin = ([x_origin, 0] | max) %}
      {% set y_origin = ([y_origin, 0] | max) %}
    {% else %}
      {% set x_origin = x_default | float %}
      {% set y_origin = y_default | float %}
    {% endif %}
    {% set purge_move_speed = 2.31 * size * flow_rate / (purge_amount * 2.405) %}
    {% set prepurge_speed = flow_rate / 2.405 %}
    {% set travel_speed = printer.toolhead.max_velocity %}
    { action_respond_info( "x: " + x_origin|string + " y: " + y_origin|string + " purge_move_speed: " + purge_move_speed|string + " prepurge_speed: " + prepurge_speed|string ) }

    G92 E0 # リセット押出機
    G0 F{travel_speed*60} # 移動速度を設定する
    G90 # 絶対位置決め
    G0 X{x_origin} Y{y_origin+size/2} # パージ位置に移動する
    G0 Z{z_height} # Zの高さをパージするために移動する
    M83 # 相対押し出しモード
    G1 E{tip_distance} F{prepurge_speed*60} # フィラメントの先端をノズルに移動する
    G1 X{x_origin+size*0.289} Y{y_origin+size} E{purge_amount/4} F{purge_move_speed*60} # パージ ロゴの最初の行
    G1 E-.5 F2100 # 引き込み
    G0 Z{z_height*2} # Zホップ
    G0 X{x_origin+size*0.789} Y{y_origin+size} # 2番目のパージラインオリジンに移動する
    G0 Z{z_height} # Zの高さをパージするために移動する
    G1 E.5 F2100 # 回復
    G1 X{x_origin+size*0.211} Y{y_origin} E{purge_amount/2} F{purge_move_speed*60} # パージ ロゴの2行目
    G1 E-.5 F2100 # 引き込み
    G0 Z{z_height*2} # Zホップ
    G0 X{x_origin+size*0.711} Y{y_origin} # 3番目のパージラインの原点に移動する
    G0 Z{z_height} # Zの高さをパージするために移動する
    G1 E.5 F2100 # 回復
    G1 X{x_origin+size} Y{y_origin+size/2} E{purge_amount/4} F{purge_move_speed*60} # パージ ロゴの3行目
    G1 E-.5 F2100 # 引き込み
    G92 E0 # 押出機の距離をリセットする
    M82 # 絶対押出モード
    G0 Z{z_height*2} # Zホップ
    
[gcode_macro SETUP_VORON_PURGE]
gcode:
 SET_GCODE_VARIABLE MACRO=VORON_PURGE VARIABLE=display_parameters VALUE={params.DISPLAY_PARAMETERS|default(True)|int}
 SET_GCODE_VARIABLE MACRO=VORON_PURGE VARIABLE=adaptive_enable VALUE={params.ADAPTIVE_ENABLE|default(True)|int}
 SET_GCODE_VARIABLE MACRO=VORON_PURGE VARIABLE=z_height VALUE={params.Z_HEIGHT|default(0.4)|float}
 SET_GCODE_VARIABLE MACRO=VORON_PURGE VARIABLE=tip_distance VALUE={params.TIP_DISTANCE|default(10)|float}
 SET_GCODE_VARIABLE MACRO=VORON_PURGE VARIABLE=purge_amount VALUE={params.PURGE_AMOUNT|default(40)|float}
 SET_GCODE_VARIABLE MACRO=VORON_PURGE VARIABLE=flow_rate VALUE={params.FLOW_RATE|default(10)|float}
 SET_GCODE_VARIABLE MACRO=VORON_PURGE VARIABLE=x_default VALUE={params.X_DEFAULT|default(10)|float}
 SET_GCODE_VARIABLE MACRO=VORON_PURGE VARIABLE=y_default VALUE={params.Y_DEFAULT|default(10)|float}
 SET_GCODE_VARIABLE MACRO=VORON_PURGE VARIABLE=size VALUE={params.SIZE|default(10)|float}
 SET_GCODE_VARIABLE MACRO=VORON_PURGE VARIABLE=distance_to_object_x VALUE={params.DISTANCE_TO_OBJECT_X|default(10)|float}
 SET_GCODE_VARIABLE MACRO=VORON_PURGE VARIABLE=distance_to_object_y VALUE={params.DISTANCE_TO_OBJECT_Y|default(10)|float}